{% extends "base.html" %}
{% block title %}サインアップ{% endblock %}
{% block content %}

<div class="container">
{% if not user.is_authenticated %}
    <h1>サインアップ</h1>
    <form action="{% url 'account:signup' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit" class="btn btn-outline-primary">サインアップ</button>
    </form>
{% else %}
    <h1>Hello, {{  user.email }}!</h1>
    <h1> すでにログイン済みです。</h1>
    <a class="btn btn-outline-primary" href="{% url 'account:top' %}">トップに戻る</a>
{% endif %}
</div>
User: {{ user }}
<br>
Email: {{ user.email }}
<br>
created_at: {{ user.created_at }}
<br>
is_authenticated: {{ user.is_authenticated }}
{% endblock %}